{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="login__form" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <div class="login__form-field form-input">
            <input class="form-input__input form-input__input--filled"
                   type="text"
                   id="username"
                   name="_username"
                   value="{{ last_username }}"
                   required="required"
                   autofocus/>
            <label for="username" class="form-input__label">Email</label>
            <div class="form-input__bar"></div>
        </div>

        <div class="login__form-field form-input">
            <input class="form-input__input form-input__input--filled"
                   type="password"
                   id="password"
                   name="_password"
                   required="required"/>
            <label for="username" class="form-input__label">Password</label>
            <div class="form-input__bar"></div>
        </div>

        <p class="login__remember-me-container">
            <input class="form-input__checkbox"
                   type="checkbox"
                   id="remember_me"
                   name="_remember_me"
                   value="on"/>
            <label for="remember_me">
                {{ 'security.login.remember_me'|trans }}
            </label>
        </p>

        <p class="login__submit-container">
            <button class="button button--green"
                    type="submit"
                    id="_submit"
                    name="_submit">
                {{ 'security.login.submit'|trans }}
            </button>
        </p>
    </form>

    <p>
        Kreta is still in beta. If you notice any issue, please
        <a class="login__link" href="http://github.com/kreta/kreta/issues">open a ticket</a>.
    </p>

    <p>
        <a href="http://github.com/kreta">
            <img src="/bundles/kretaweb/svg/github.svg"/>
        </a>
    </p>
{% endblock content %}
