<!DOCTYPE html>
<html>
<head>
    <title>Kreta - Modern task manager for software development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% if app.debug %}
            <link href="{{ asset(base_asset_vendor ~ 'font-source-sans-pro/source-sans-pro.css') }}" rel='stylesheet'>
            <link href="{{ asset(base_asset_vendor ~ 'font-awesome/css/font-awesome.css') }}" rel='stylesheet'>
            <link href="{{ asset('css/kreta.css') }}" media="screen" rel="stylesheet">
        {% else %}
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet'>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="{{ asset('css/kreta.min.css') }}" media="screen" rel="stylesheet">
        {% endif %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% include 'KretaWebBundle:blocks:header.html.twig' %}
    <div class="kreta-content row">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="kreta-flash error">
                <i class="fa fa-times-circle-o"></i>
                <span>{{ flashMessage }}</span>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="kreta-flash success">
                <i class="fa fa-check-circle-o"></i>
                <span>{{ flashMessage }}</span>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {% if app.debug %}
        <script src="{{ asset(base_asset_vendor ~ 'jquery/dist/jquery.js') }}"></script>
        {% for js_file in javascripts(base_asset_js) %}
        <script src="{{ asset(js_file) }}"></script>
        {% endfor %}
    {% else %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ asset(base_asset_js ~ 'kreta.min.js') }}"></script>
    {% endif %}
{% endblock %}
</body>
</html>
