{% extends "KretaWebBundle::layout.html.twig" %}

{% block content %}
    <div class="medium-8 column">
        {{ form_start(form, {'action': url('kreta_web_issue_new')}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.type) }}
        {{ form_row(form.priority) }}
        <input type="submit" value="Create">
        {{ form_end(form) }}
    </div>
{% endblock %}
