{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}{% endblock %}

{% block widgetIcon %}fa-check-square-o{% endblock %}

{% block widgetTitle %}{{ issue.title }}{% endblock %}

{% block widgetContent %}
    <div class="kreta-issue">
        <div class="details row">
            <div class="small-6 column">
                <span class="field">Type:</span>
                {{ issue.type | issue_type }}
                <span class="field">Priority:</span>
                {{ issue.priority | issue_priority }}
                <span class="field">Asignee:</span>
                <div class="image-item">
                    {% image '@KretaWebBundle/Resources/public/img/user.jpg' %}
                        <img src="{{ asset_url }}">
                    {% endimage %}
                    <span>{{ issue.assignee.fullName }}</span>
                </div>
            </div>
            <div class="small-6 column">
                <span class="field">Status:</span>
                {{ issue.status | issue_status }}
                <span class="field">Resolution:</span>
                <span>{{ issue.resolution ? issue.resolution.description : '-' }}</span>
                <span class="field">Assigner:</span>
                <div class="image-item">
                    {% image '@KretaWebBundle/Resources/public/img/user.jpg' %}
                        <img src="{{ asset_url }}">
                    {% endimage %}
                    <span>{{ issue.reporter.fullName }}</span>
                </div>
            </div>
        </div>
        <div class="description">
            <p>{{ issue.description | nl2br }}</p>
        </div>
    </div>
{% endblock %}
