<div class="kreta-mini-issue">
    <a href="{{ url('kreta_web_issue_view', {
        'projectShortName': issue.project.shortName,
        'issueNumber' : issue.numericId }) }}">
        <h3>{{ issue.title }}</h3></a>
    <div class="issue-footer">
        {{ issue.status | issue_status }}
        {{ issue.type | issue_type }}
        {{ issue.priority | issue_priority }}
        <div class="issue-actions">
            <a class='view-issue'
               href="{{ url('kreta_web_issue_view', {
               'projectShortName': issue.project.shortName,
               'issueNumber' : issue.numericId }) }}">
                <i class="fa fa-eye"></i>
            </a>
            {% if is_granted('edit', issue) %}
            <a class='edit-issue'
               href="{{ url('kreta_web_issue_edit', {
               'projectShortName': issue.project.shortName,
               'issueNumber' : issue.numericId }) }}">
                <i class="fa fa-pencil"></i>
            </a>
            {% endif %}
            <a class="comments-issue" href="{{ url('kreta_web_comment_list', {'issueId': issue.id}) }}">
                <i class="fa fa-comment"></i>
            </a>
        </div>
        <div class="issue-images">
            <a href="{{ url('kreta_web_project_view', { 'projectShortName' : issue.project.shortName }) }}">
                <img src="{{ issue.project.image ? issue.project.image.name|imagine_filter('kreta_small') : asset(base_asset_img ~ 'project.jpg') }}">
            </a>
            <a href="">
                <img src="{{ issue.assignee.photo ? issue.assignee.photo.name|imagine_filter('kreta_small') : asset(base_asset_img ~ 'user.jpg') }}">
            </a>
        </div>
    </div>
</div>
