{% extends "KretaWebBundle::layout.html.twig" %}

{% block content %}
    <div class="medium-8 column kreta-widget">
        <div class="kreta-widget-content">
            <h2><i class="fa fa-user"></i>Edit yout profile</h2>
            {{ form_start(form, {'action': url('kreta_web_user_edit')}) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.photo) }}
            {% image '@KretaWebBundle/Resources/public/img/user.jpg' %}
                <img class="kreta-image-preview" src="{{ app.user.photo ? app.user.photo.name|imagine_filter('kreta_small') : asset_url }}">
            {% endimage %}
            <div class="form-actions">
                <input class="button tiny" type="submit" value="Update">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
