<header id="main-header" class="row">
    <div class="small-3 column">
        <a href="{{ url('kreta_web_dashboard') }}">
            {% image '@KretaWebBundle/Resources/public/img/logo.png' %}
                <img class="logo" src="{{ asset_url }}"/>
            {% endimage %}
        </a>
    </div>
    <div class="kreta-user-menu small-9 columns">
        <div class="user-container">
            {% image '@KretaWebBundle/Resources/public/img/user.jpg' %}
            <img class="kreta-user-image" src="{{ asset_url }}">
            {% endimage %}
            {% if app.user.firstName is null and app.user.lastName is null %}
                <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
            {% else %}
                <span>{{ app.user.email }}</span>
            {% endif %}
            <div class="user-actions">
                <a href="{{ url('kreta_web_user_edit') }}"><i class="fa fa-wrench"></i></a>
                <a href="{{ url('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
</header>
