<header id="main-header" class="row">
    <div class="small-6 column">
        <a href="{{ url('kreta_web_dashboard') }}">
            {% image '@KretaWebBundle/Resources/public/img/logo.png' %}
                <img class="logo" src="{{ asset_url }}"/>
            {% endimage %}
        </a>
    </div>
    <div class="kreta-user-menu small-6 columns">
        <a href="{{ url('kreta_web_issue_new') }}"><i class="fa fa-plus"></i></a>
        <a href="{{ url('kreta_web_user_edit') }}"><i class="fa fa-wrench"></i></a>
        <a href="{{ url('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a>
        {% image '@KretaWebBundle/Resources/public/img/user.jpg' %}
            <img class="kreta-user-image" src="{{ asset_url }}">
        {% endimage %}
    </div>
</header>
