{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <h1>Hi {{ user.email }}!</h1>
    {{ form_errors(form) }}
    <form class="spacer-vertical-2" action="{{ path('kreta_user_registration', {'email': user.email}) }}" method="post">
        {{ form_widget(form.plainPassword.first, {
            'attr': {
                'placeholder': 'Password'
            }, 'type': 'password'
        }) }}
        {{ form_widget(form.plainPassword.second, {
            'attr': {
                'placeholder': 'Repeat the password'
            }, 'type': 'password'
        }) }}
        {{ form_rest(form) }}
        <button class="button green spacer-vertical-1" type="submit" title="register">
            {{ 'registration.submit'|trans }}
        </button>
    </form>
    <p>
        <strong>Kreta.io</strong> is still in beta. If you notice any issue, please
        <a href="http://github.com/kreta-io/kreta/issues">open a ticket</a>.</p>

    <p class="font-size-2">
        <a href="http://github.com/kreta-io"><i class="fa fa-github"></i></a>
    </p>
{% endblock %}
