<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kreta</title>
    <link href="{{ asset('css/kreta.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
<nav id="kreta-menu-main">
    <img class="logo" src="{{ asset('images/logo.png') }}"/>
    <div class="kreta-menu-user">
    </div>
    <div class="kreta-menu-actions">
        <a href="/">
            <img src="{{ asset('images/icons/notification.png') }}">
            <span class="kreta-notification-bubble">4</span>
        </a>
        <a href="/"><img src="{{ asset('images/icons/search.png') }}"></a>
        <a href="/issue/new"><img src="{{ asset('images/icons/new.png') }}"></a>
        <a href="/"><img src="{{ asset('images/icons/dashboard.png') }}"></a>
        <a href="/"><img src="{{ asset('images/icons/lists.png') }}"></a>
        <a href="/projects"><img src="{{ asset('images/icons/projects.png') }}"></a>
    </div>
</nav>
<div id="kreta-left-aside"></div>
<div id="kreta-content">
    <div>
        <div class="kreta-content-container"></div>
    </div>
</div>
<div id="kreta-right-aside"></div>
<script type="text/html" id="kreta-menu-user-template">
    <div class="kreta-user-container">
        <img src="<%= image %>">
        <span>@gorka</span>
    </div>
</script>

<script type="text/html" id="kreta-mini-issue-template">
    <div class="issue-details">
        <a href="/issue/<%= id %>">
            <h3><%= title %></h3>
        </a>
    </div>
    <div class="issue-icons">
        <img src="<%= assignee.photo.name %>">
    </div>
</script>

{% include 'KretaWebBundle:Default/templates:issueAside.html.twig' %}
{% include 'KretaWebBundle:Default/templates:projectIssues.html.twig' %}
{% include 'KretaWebBundle:Default/templates:createIssue.html.twig' %}


<script src="{{ asset('vendor/jquery/dist/jquery.js') }}"></script>
<script src="{{ asset('vendor/lodash/lodash.js') }}"></script>
<script src="{{ asset('vendor/backbone/backbone.js') }}"></script>
<script src="{{ asset('vendor/jquery/dist/jquery.js') }}"></script>
<script data-main="/js/app" src="{{ asset('vendor/requirejs/require.js') }}"></script>
</body>
</html>
