<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kreta</title>
    {% if production_assets == false %}
        <link href="{{ asset(base_asset_vendor ~ 'font-source-sans-pro/source-sans-pro.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(base_asset_vendor ~ 'font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(base_asset_css ~ 'app.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    {% else %}
        <link href="{{ asset(base_asset_css ~ 'app.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    {% endif %}
</head>
<body>
<div class="application"></div>
<script id="base-layout-view-template" type="text/html">
    <nav id="kreta-menu-main">
        <img class="logo" src="{{ asset('images/logo.png') }}"/>
        <div class="kreta-menu-user">
        </div>
        <div class="kreta-menu-actions">
            <a href="/">
                <img src="{{ asset('images/icons/notification.png') }}">
                <span class="kreta-notification-bubble">4</span>
            </a>
            {#<a href="/"><img src="{{ asset('images/icons/search.png') }}"></a>#}
            <a href="/issue/new" data-tooltip-text="Create issue" data-tooltip-position="right">
                <img src="{{ asset('images/icons/new.png') }}">
            </a>
            {#<a href="/"><img src="{{ asset('images/icons/dashboard.png') }}"></a>
            <a href="/"><img src="{{ asset('images/icons/lists.png') }}"></a>#}
            <a href="/projects" data-tooltip-text="Project list" data-tooltip-position="right">
                <img src="{{ asset('images/icons/projects.png') }}">
            </a>
            <a href="/logout" data-bypass data-tooltip-text="Logout" data-tooltip-position="right" title="Logout">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </nav>
    <div class="left-aside"></div>
    <div id="kreta-content">
        <div>
            <div class="notification-container"></div>
            <div class="kreta-content-container"></div>
        </div>
    </div>
    <div class="right-aside"></div>
</script>
<script type="text/html" id="kreta-menu-user-template">
    <div class="kreta-user-container">
        <img src="<%= photo.name %>">
        <span>@gorka</span>
    </div>
</script>

{% include 'KretaWebBundle:Default/templates:projectIssues.html.twig' %}
{% include 'KretaWebBundle:Default/templates:userInteraction.html.twig' %}
{% include 'KretaWebBundle:Default/templates:listIssue.html.twig' %}
{% include 'KretaWebBundle:Default/component:filter.html.twig' %}
{% include 'KretaWebBundle:Default/component:notification.html.twig' %}
{% include 'KretaWebBundle:Default/component:projectPreview.html.twig' %}
{% include 'KretaWebBundle:Default/component:userSelector.html.twig' %}
{% include 'KretaWebBundle:Default/component:userSelectorItem.html.twig' %}
{% include 'KretaWebBundle:Default/templates:issue/new.html.twig' %}
{% include 'KretaWebBundle:Default/templates:issue/show.html.twig' %}
{% include 'KretaWebBundle:Default/templates:project/list.html.twig' %}
{% include 'KretaWebBundle:Default/templates:project/new.html.twig' %}
{% include 'KretaWebBundle:Default/templates:project/settings.html.twig' %}

{% if production_assets == false %}
    <script src="{{ asset(base_asset_vendor ~ 'jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset(base_asset_vendor ~ 'lodash/lodash.js') }}"></script>
    <script src="{{ asset(base_asset_vendor ~ 'backbone/backbone.js') }}"></script>
    <script src="{{ asset(base_asset_vendor ~ 'backbone.marionette/lib/backbone.marionette.min.js') }}"></script>
    <script src="{{ asset(base_asset_vendor ~ 'requirejs/require.js') }}" data-main="{{ asset(base_asset_js ~ 'kreta') }}"></script>
{% else %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.1/backbone.marionette.min.js"></script>
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js" data-main="{{ asset(base_asset_js ~ 'app.min') }}"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js" data-main="{{ asset(base_asset_js ~ 'kreta') }}"></script>
{% endif %}
</body>
</html>
